// Descriptive Colors
$white: #ffffff;
$black: #000;
$grey: #bbbbbb;
$gold: #FFD700;

$blue: #2196f3;
$red: #f44336;
$orange: #ff9800;
$green: #098b28;

$light-blue: #1dcaff;
$light-green: #f0fff3;
$light-grey: #eeeeee;
$dark-blue: #0062b1;

$shadow: #aeaeae;

// Functional Colors
$primary--color: $dark-blue;
$secondary--color: $white;

// Item colors

$item-restock: #e4f3e4;
$item-expired: #fdcfcf;
$item-empty: #efcb89;

$blue2:#1e78c1;
$blue3: #3a93db;
$blue4: #acd3f3;
