@import "src/app/styles/mixins";

.heading h1 {
  color: $primary--color;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding: 1rem .5rem 1rem .5rem;
  position: relative;
}
.heading h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 5rem;
  background-color: $primary--color;
}
.heading h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  background-color: $primary--color;
}

small {
  font-size: 1.25rem;
  float: right;
}

