<app-heading heading="About us"></app-heading>

<div class="page-container">
  <p>
    This is an Angular App with Auth0 Authntication, uing Universal to do SSR.
  </p>

  <div class="button-container">
    <button mat-raised-button color="blue" class="action-button" aria-label="Contact us" matTooltip="Contact us" matTooltipPosition="above" [routerLink]="['/contact']"> <i class="fas fa-phone"></i> Contact</button>
    <button mat-raised-button color="blue" class="action-button" aria-label="Feedback" matTooltip="Feedback" matTooltipPosition="above" [routerLink]="['/feedback']"> <i class="fas fa-comment-dots"></i> Feedback</button>
  </div>
</div>
