<footer>
  <div class="footer-container">
    <div class="footer-section left-section">
      <img src="assets/images/logo.svg" class="logo" alt="logo" />
    </div>
    <div class="footer-section column-section">
      <span>
        Made with <i class="fas fa-heart"></i> by RohithPoyyeri&#169; team
      </span>
      <span>
        rohithpoyyeri.com | &#169; {{date}}
      </span>
    </div>
    <div class="footer-section column-section">
      <a href="/about" class="footerBanner">About us</a>
			<a href="/contact" class="footerBanner">Contact us</a>
			<a href="/faq" class="footerBanner">FAQ</a>
			<a href="/feedback" class="footerBanner">Feedback</a>
			<a href="/terms-and-condition" class="footerBanner">Terms and condition</a>
			<a href="/privacy-policy" class="footerBanner">Privacy policy</a>
    </div>
    <div class="footer-section social-section">
      <a href="https://rohithpoyyeri.com/" target="_blank" rel="nofollow noopener noreferrer" class="footerBanner social-links">
				<i class="fas fa-globe"></i>
			</a>
			<a href="https://www.facebook.com/rohith.r.p" aria-label="Facebook" target="_blank" rel="nofollow noopener noreferrer" class="footerBanner social-links">
				<i class="fab fa-facebook-square"></i>
			</a>
			<a href="https://www.instagram.com/rohithart/" aria-label="Instagram" target="_blank" rel="nofollow noopener noreferrer" class="footerBanner social-links">
					<i class="fab fa-instagram"></i>
			</a>
			<a href="https://twitter.com/rohithart" target="_blank" aria-label="Twitter" rel="nofollow noopener noreferrer" class="footerBanner social-links">

					<i class="fab fa-twitter-square"></i>
			</a>
			<a href="https://www.linkedin.com/in/rohithpoyyeri/" aria-label="LinkedIn" target="_blank" rel="nofollow noopener noreferrer" class="footerBanner social-links">
					<i class="fab fa-linkedin"></i>
			</a>
    </div>
  </div>
</footer>
